https://www.youtube.com/watch?v=1KGcmLP65uo

In [110]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import os

In [111]:
os.listdir()

['.ipynb_checkpoints', 'shampoo_sales.csv', 'Shampoo_Sales.ipynb']

In [112]:
shampoo = pd.read_csv('shampoo_sales.csv')

In [113]:
shampoo.head()

   Month  Sales of shampoo over a three year period
0  1-Jan                                      266.0
1  1-Feb                                      145.9
2  1-Mar                                      183.1
3  1-Apr                                      119.3
4  1-May                                      180.3

In [114]:
# shampoo = pd.read_csv('shampoo_sales.csv', index_col=[0], date_parser=True, squeeze=True)

In [115]:
shampoo.columns = ['Month', 'Shampoo_Sales']